<div >
    <div style="text-align:right"><strong>Taller de Negociación para el Manejo de Conflictos</strong></div>
    <div style="text-align:right">Material complementario</div>
    <br><br><div  style="text-align:center; "><strong>TEST DE ESTILOS DE NEGOCIACIÓN PARA EL MANEJO DE CONFLICTOS </strong></div>
    <br><br><div style="text-align:center; "><strong >DE THOMAS & KILMANN</strong></div>
</div>